/* You can add global styles to this file, and also import other style files */
html, body{
    background-color: #f6f6f6;
    height: 100%;
}
.h100{
    height: 100%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
